nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
/SocketSheepExample/SocketSheepExampleClient/nbproject/private/
/SocketSheepExample/SocketSheepExampleServer/nbproject/private/
/SocketSheepExample2/SocketSheepExample2Client/nbproject/private/
/SocketSheepExample2/SocketSheepExample2Server/nbproject/private/